body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: White;
   color: #7c4a32;
   
}
main img {
   height: 30%;
}

nav li {
   display: inline-block;
   }

nav img {
   width: 10%;
}
nav a {
   margin: 5px;
   color: #7c4a32;
}

div {
   overflow: auto;
   width: 100%;}

.column1of2 {
   float: left;
   width: 300px;
   margin: 10px;}
.column2of2 {
   float: left;
   width: 620px;
   margin: 10px;}

header h1 {
   color: white;
   background: url(https://cdn.pixabay.com/photo/2016/04/12/11/19/coffee-1324126__480.jpg);
}


body img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
   float: right;
 }

 /* Links - change color on hover */
nav a:hover {
   background-color: #ddd;
   color: black;
 }
